/* General Page Styles */

@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Source+Sans+3&display=swap');

.home-title {
    font-family: 'Merriweather', 'Source Sans 3', sans-serif;
    font-size: 2em;
}

body {
    background-color: #fcfbfb; 
    font-family: 'Merriweather', 'Source Sans 3', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
}

/* Header */
header {
    background-color: #141e0db3;
}

/* Navigation */
nav a {
    text-align: center;
    color: antiquewhite;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: black;
    color: antiquewhite;
}

/* Hero Section */
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

/* Button Box */
.button-box {
    text-align: center;
    padding: 20px;
}

/* Main Section */
main section {
    text-align: center;
    margin-bottom: 40px;
}

.card-img {
    border: 10px solid #d9c2a3;
    display: block;
    margin: 0 auto;
}

.icon {
    margin-top: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: auto;
}

main section img {
    box-sizing: border-box;
    margin: 15px;
}

/* Background */
#background {
    height: 725px;
    background-color: #5A876F;
}

/* Logo */
.logo {
    width: 80px;
    padding-top: 35px;
}

/* Title and Text Styling */
.home-title, h4 {
    color: black;
    line-height: 1.5em;
    margin-top: 10px;
}

/* Button Styles */
.book, .join {
    background-color: #596054;
    color: antiquewhite;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #FFDCE3;
    color: black;
}

/* Message Box */
.msg {
    background-color: #141e0db3;
    padding: 35px;
}

.msg h2, .msg p {
    color: antiquewhite;
    padding-bottom: 15px;
}

/* Footer */
footer {
    background-color: #141e0db3;
    color: antiquewhite;
    padding: 25px 50px;
    margin-top: 200px;
}

footer a {
    color: antiquewhite;
    text-decoration: none;
}

footer a:hover {
    color: antiquewhite;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}